.contentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.addContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 65px;
  padding: 10px;
}
